*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    /* padding: 0 15rem; */
}
.main-container{
    padding: 0 15rem;
}
.pad{
    padding: 0 15rem;
}
.text-clr{
    color: #6D83F2;
}

.blur{
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    filter: blur(200px);
    z-index: -9;
}